/*  
Create variables for repeating values.
    At minimum, create variables for:
        ALL color values
        ALL media query breakpoints.
    Make sure you use your color variable in your project to replace ALL instances of that color property values.
    Nest your media queries in their respective rules and use your breakpoints variables to define ALL the breakpoint widths.
*/
.portfolio, .projects, .main-nav a {
  background-color: white; }

.projects, .skills, .contactinfo {
  padding-bottom: 1em; }

.main-header, .main-nav {
  display: flex;
  flex-direction: column; }

body, .contactinfo p, .main-nav a {
  text-align: center; }

.portfolio::after, .projects::after, .profile::after {
  content: "";
  display: table;
  clear: both; }

/*
    Create at least one mixin for a common text pattern.

    As a minimum, include the following arguments in your mixin:
        font-size
        font-weight
        color
    Add your mixin as a declaration using @include in at least three rules where any of the text properties listed above are present.
*/
/**************************
BASE STYLES
**************************/
* {
  box-sizing: border-box; }

body {
  font-family: "Khula";
  font-size: 1.1em;
  font-weight: 200;
  color: #878787;
  background-color: #fafafa; }

ul {
  padding-left: 0; }

p {
  font-family: "Khula";
  font-size: 1.1em;
  font-weight: 200;
  color: #878787; }

li {
  list-style: none; }

img {
  max-width: 90%; }

.profile img {
  width: 75%;
  margin-bottom: .7em; }
  @media (min-width: 768px) {
    .profile img {
      float: right;
      width: 40%;
      padding-left: 1em; } }
  @media (min-width: 1024px) {
    .profile img {
      width: 45%;
      padding: 2em;
      padding-top: 0; } }

h1 {
  font-family: "Khula";
  font-size: 2em;
  font-weight: 800;
  color: #444;
  text-transform: uppercase;
  margin: 12px 0; }

h2 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Khula";
  font-size: 1.5em;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  padding-top: 25px; }

h3 {
  font-family: "Khula";
  font-size: 1.3em;
  font-weight: 600;
  color: #444;
  margin-bottom: .5em; }

h4 {
  font-family: "Khula";
  font-size: 1.1em;
  font-weight: 200;
  color: #878787;
  float: left;
  margin-top: -0.1em; }

.portfolio {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1024px) {
    .portfolio {
      width: 95%; }
      .portfolio ul {
        margin-left: auto;
        margin-right: auto; } }

@media (min-width: 768px) {
  .projects {
    margin-top: 0;
    padding-top: 0; }
    .projects ul {
      text-decoration: none; }
    .projects li {
      width: 50%;
      float: left;
      padding-left: 0; } }
@media (min-width: 1024px) {
  .projects li {
    margin-left: auto;
    margin-right: auto;
    width: 33.3333%; } }

.caption {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .caption {
      width: 75%;
      margin: 0 auto 3em; } }

.contactinfo {
  background-color: #ed9a1e;
  color: #fffdf9; }
  .contactinfo h2 {
    color: #fffdf9; }
  @media (min-width: 768px) {
    .contactinfo p {
      color: #fffdf9;
      font-size: 1.4em;
      padding-left: 12.5%;
      padding-right: 12.5%; } }
  @media (min-width: 1024px) {
    .contactinfo p {
      padding-left: 19%;
      padding-right: 19%; } }

.contactdata {
  font-weight: bold;
  padding-left: .7em; }

.top-link {
  float: right;
  font-size: .9em; }
  @media (min-width: 768px) {
    .top-link {
      display: none; } }

@media (min-width: 768px) {
  .profile {
    margin-left: auto;
    margin-right: auto;
    width: 95%; }
    .profile p {
      text-align: left;
      font-size: 1.2em;
      line-height: 1.5em; } }
@media (min-width: 1024px) {
  .profile p {
    font-size: 1.5em; } }

@media (min-width: 768px) {
  .foot-name {
    display: flex;
    flex-direction: column;
    margin-right: auto; } }

footer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-top: 1px solid #ddd;
  margin-top: 2px;
  margin-bottom: 2em;
  font-weight: bold;
  color: #444;
  padding-bottom: 1.5em;
  padding-top: 0.5em; }
  footer ul {
    list-style: none; }
  footer ul li:first-child {
    float: left; }
  footer ul li {
    list-style: none;
    margin: 10px;
    float: right; }
  footer li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    float: right; }

@media (max-width: 767px) {
  .foot-nav {
    display: none; } }
@media (min-width: 768px) {
  .foot-nav {
    justify-content: space-between; } }

.main-header {
  padding-top: 2em; }
  @media (min-width: 768px) {
    .main-header {
      height: 200px;
      justify-content: flex-end;
      padding-top: 0; } }
  @media (min-width: 1024px) {
    .main-header {
      flex-direction: row; } }

.name {
  align-self: center; }
  @media (min-width: 1024px) {
    .name {
      margin-right: auto;
      margin-left: 1.4em; } }

.main-nav {
  margin-top: 1.5em; }
  @media (min-width: 768px) {
    .main-nav {
      margin-top: .3em;
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 1024px) {
    .main-nav {
      margin-top: 0;
      align-self: center;
      margin-right: 1.4em; } }
  .main-nav a {
    font-family: "Khula";
    font-size: 1.125em;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: .7em;
    margin: .3em .7em; }
    @media (min-width: 768px) {
      .main-nav a {
        border: 1px dotted transparent;
        background-color: #fafafa;
        margin: 1em;
        padding-bottom: 1em; } }
    .main-nav a:hover {
      color: #ed9a1e;
      border-bottom: 1px dotted #ffa500; }
  @media (min-width: 1024px) {
    .main-nav li {
      margin-left: -1em;
      margin-right: -1em; } }

/*# sourceMappingURL=application.css.map */
