.portfolio {
	@extend %whiteback;
    @extend %clearfix;
    @include push--auto;
    @media (min-width: $break-desktop) {
        width: 95%;
        ul {
            @include push--auto;
        }
    }
}

.projects {
    @extend %whiteback;
	@extend %pad-bottom;
    @extend %clearfix;
    @media (min-width: $break-tablet) {
        margin-top: 0;
        padding-top: 0;
        ul {
            text-decoration: none;
        }
        
        li {
            width: 50%;
            float: left;
            padding-left: 0;
        }
    }
    @media (min-width: $break-desktop) {
        li {
            @include push--auto;
            width: 33.3333%;
        }
    }
}

.caption {
	margin-bottom: 50px;
    @media (min-width: $break-tablet) {
        width: 75%;
        margin: 0 auto 3em;
    }
}

.skills {
	@extend %pad-bottom;
}

.contactinfo {
	@extend %pad-bottom;
	background-color: $orange;
	color: $white;
    h2 {
	   color: $white;
    }
    p {
        @extend %centertext;
    }
    @media (min-width: $break-tablet) {
        p {
            color: $white;
            font-size: 1.4em;
            @include side-padding(12.5%);
        }
    }
    @media (min-width: $break-desktop) {
        p {
            @include side-padding(19%);
        }
    }
}

.contactdata {
	font-weight: bold;
	padding-left: .7em;
}

.top-link {
	float: right;
	font-size: .9em;
    @media (min-width: $break-tablet) {
        display: none;
    }
}

.profile {
    @extend %clearfix;
    @media (min-width: $break-tablet) {
        @include push--auto;
        width: 95%;
        p {
            text-align: left;
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }
    @media (min-width: $break-desktop) {
        p {
            font-size: 1.5em;
        }
    }
}

.foot-name {
    @media (min-width: $break-tablet) {
        display: flex;
		flex-direction: column;
		margin-right: auto; 
    }
}