.portfolio {
	@extend %whiteback;
}

.projects {
    @extend %whiteback;
	@extend %pad-bottom;
}

.caption {
	margin-bottom: 50px;
}

.skills {
	@extend %pad-bottom;
}

.contactinfo {
	@extend %pad-bottom;
	background-color: orange;
	color: white;
}

.contactinfo h2 {
	color: white;
}

.contactdata {
	font-weight: bold;
	padding-left: .7em;
}

.top-link {
	float: right;
	font-size: .9em;
}