// Give elements a white background

%whiteback {
    background-color: white;
}

// 1em padding on bottom

%pad-bottom {
    padding-bottom: 1em;
}

// flex display for header and main nav

%flex {
    display: flex;
	flex-direction: column;
}