.main-header {
    @extend %flex;
	padding-top: 2em;
    @media (min-width: $break-tablet) {
        height: 200px;
		justify-content: flex-end;
		padding-top: 0;
    }
    @media (min-width: $break-desktop) {
        flex-direction: row;
    }
}

.name {
	align-self: center;
    @media (min-width: $break-desktop) {
        margin-right: auto;
		margin-left: 1.4em;
    }
}

.main-nav {
    @extend %flex;
	margin-top: 1.5em;
    @media (min-width: $break-tablet) {
        margin-top: .3em;
		flex-direction: row;
		justify-content: space-between;
    }
    @media (min-width: $break-desktop) {
        margin-top: 0;
		align-self: center;
		margin-right: 1.4em;
    }
    a {
        @extend %whiteback;
        @extend %centertext;
        @include default-text($size: 1.125em, $weight: 700, $color: $dark-text-color, $transform: uppercase, $decor: none);
        display: block;
        padding:  .7em;
        margin: .3em .7em;
        @media (min-width: $break-tablet) {
            border: $btnborder;
            background-color: $background-color;
            margin: 1em;
            padding-bottom: 1em;
        }
        &:hover {
            color: $orange;
            border-bottom: $btnborderorange;
        }
    }
    li {
        @media (min-width: $break-desktop) {
            margin-left: -1em;
            margin-right: -1em; 
        }
    }
}