.main-header {
    @extend %flex;
	padding-top: 2em;
}

.name {
	align-self: center;
}

.main-nav {
    @extend %flex;
	margin-top: 1.5em;
}

.main-nav a {
    @extend %whiteback;
	display: block;
	color: #444;
	font-size: 1.125em;
	font-weight: 700;
	text-align: center;
	padding:  .7em;
	text-transform: uppercase;
	text-decoration: none;
	margin: .3em .7em;
}

.main-nav a:hover {
	color: orange;
	border-bottom: 1px dotted orange;
}
