@font-face {
    font-family: 'Audiowide', cursive;
    font-family: 'Catamaran', sans-serif;
}

h1 {
	font-family: 'Audiowide', sans-serif;
	color: #444;
	margin: 12px 0;
}

h2 {
	font-family: 'Catamaran', sans-serif;
	text-transform: uppercase;
	padding: 30px;
	margin: 0 auto;
	font-size: 1em;
	color: #444;
}

h3 {
	font-size: 1.3em;
	font-weight: 400;
	color: #444;
	margin-bottom: .5em;
}

h4 {
	float: left;
	margin-top: -0.1em;
}