h1 {
	@include default-text($size: 2em, $weight: 800, $color: $dark-text-color, $transform: uppercase);
//	color: $dark-text-color;
	margin: 12px 0;
}

h2 {
    @include push--auto;
    @include default-text($size: 1.5em, $weight: 700, $color: $dark-text-color, $transform: uppercase);
    @include side-padding(30px);
	text-transform: uppercase;
    padding-top: 25px;
}

h3 {
    @include default-text($size: 1.3em, $weight: 600, $color: $dark-text-color);
	margin-bottom: .5em;
}

h4 {
	@include default-text;
    float: left;
	margin-top: -0.1em;
}