/**************************
BASE STYLES
**************************/

* {
    box-sizing: border-box;
}

body {
    @extend %centertext;
    @include default_text;
    background-color: $background-color;
}

ul {
	padding-left: 0;
}

p {
    @include default_text;
}

li {
    list-style: none;
}