/**************************
BASE STYLES
**************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: #878787;
  text-align: center;
  background-color: #fafafa;
}

ul {
	padding-left: 0;
}

p {
  margin: 0 14px 20px;
  font-size: 1.1em;
  font-weight: 200;
}